<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Boolzapp</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <!-- LEFT -->
      <div class="left">
        <!-- HEADER LEFT -->
        <div class="header-left">
          <div class="header-left-logo">
            <img :src="`./assets/img/avatar${user.avatar}.jpg`" :alt="user.name">
            <span>{{user.name}}</span>
          </div>
          <div class="header-left-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- DISCLAIMER LEFT -->
        <div class="disclaimer-left">
          <div class="disclaimer-left-logo">
            <i class="fa fa-bell-slash" aria-hidden="true"></i>
          </div>
          <div class="disclaimer-left-text">
            <h5>Ricevi notifiche di nuovi messaggi</h5>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <!-- SEARCHBAR LEFT -->
        <div class="searchbar-left">
          <label class="search-label" for="search">
            <i id="prova" class="fa fa-search" aria-hidden="true"></i>
          </label>
          <input id="contacts-filter" type="text" class="left-searchbar-input" placeholder="           &#xf002;     Cerca o inizia una nuova chat" name="search">
        </div>
        <!-- CONTACTS LEFT -->
        <div class="contacts-left">
  
          <div v-for="(contact, index) in contacts" class="contact" v-on:click="printMessagesRight(index)" v-on:click="printNumber">
            <div class="contact-logo-info">
              <div class="contact-logo">
                <img :src="`./assets/img/avatar${contact.avatar}.jpg`" alt="`{contact.name}`">
              </div>
              <div class="contact-info">
                <h4 clas="contact-name">{{contact.name}}</h4>
                <small>ultimo messaggio inviato</small>
              </div>
            </div>
            <div class="contact-time">
              <span>00:00</span>
            </div>
          </div>
  
        </div>
      </div>
      <!-- RIGHT -->
      <div class="right">
        <!-- HEADER RIGHT -->
        <div class="header-right">
          <div class="header-right-logo">
            <img src="./assets/img/avatar_1.jpg" alt="">
            <div class="text-logo">
              <span>Michele</span>
              <span>Ultimo accesso oggi alle 12:00</span>
            </div>
          </div>
          <div class="header-right-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- MESSAGES RIGHT -->
        <div class="messages-right">
          
          <!-- <div v-for="mex in contacts[0].messages" class="message" :class="`${mex.status}`">
            <div class="message-text">
              {{mex.message}}
            </div>
            <div class="message-time">
              {{mex.date}}
            </div>
          </div> -->

          <div class="message received">
            <div class="message-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, iusto dolore. Sint rem, obcaecati officiis, tempora aliquam at facilis consequuntur dolorem nesciunt ab eum quasi, inventore quibusdam natus? Vitae, beatae.
            </div>
            <div class="message-time">
              00/00/0000 00:00:00
            </div>
          </div>
          <div class="message sent">
            <div class="message-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, iusto dolore. Sint rem, obcaecati officiis, tempora aliquam at facilis consequuntur dolorem nesciunt ab eum quasi, inventore quibusdam natus? Vitae, beatae.
            </div>
            <div class="message-time">
              00/00/0000 00:00:00
            </div>
          </div>
          <div class="message received">
            <div class="message-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, iusto dolore. Sint rem, obcaecati officiis, tempora aliquam at facilis consequuntur dolorem nesciunt ab eum quasi, inventore quibusdam natus? Vitae, beatae.
            </div>
            <div class="message-time">
              00/00/0000 00:00:00
            </div>
          </div>

        </div>
        <!-- FOOTER RIGHT -->
        <div class="footer-right">
          <div class="footer-right-left footer-icon">
            <i class="far fa-smile" ></i>
          </div>
          <div class="footer-right-center">
            <input type="text" class="new-message-input" placeholder="Scrivi un messaggio">
          </div>
          <div class="footer-right-right footer-icon">
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </div>
        </div>
  
      </div>
    </div>
    <script src="./assets/js/script.js"></script>
    <!-- <script src="./assets/js/contacts-boolzapp.js"></script> -->
  </div>
</body>
</html>