/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: 
    linear-gradient(to bottom, 
      #009688 0px,
      #009688 15vh,
      #dddbd1 15vh,
      #d2dbdc 100%);
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 95vh;
  /* min-width: 80%; */
  width: 1100px;
  margin: auto;
}

/* LEFT */

.left {
  background-color: green;
  width: 40%;
  height: 100%;
  float: left;
}

/* HEADER LEFT */

.header-left {
  height: 70px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-left-logo img {
  height: 80%;
  border-radius: 50%;
  margin-right: 5px;
}

.header-left-icons {
  margin-right: 10px;
}

.header-left-icons i {
  margin-right: 15px;
  margin-left: 5px;
  color: #b1b1b1;
  transform: scale(1.3);
}

/* DISCLAIMER LEFT */

.disclaimer-left {
  height: 80px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.disclaimer-left-logo i {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #8edafc;
  margin: 0 15px;
}

.disclaimer-left-text h5 {
  font-weight: lighter;
}

.disclaimer-left-text a {
  color: #85b6bc;
  font-size: small;
}

/* SEARCHBAR LEFT */

.searchbar-left {
  height: 50px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}

/* .searchbar-left label {
  background-color: blue;
} */

.left-searchbar-input {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  border: none;
  /* outline: none; */
}

.left-searchbar-input, 
.footer-right .footer-right-center input:focus {
  outline: none;
}


/* CONTACTS LEFT */

.contacts-left {
  height: calc(100% - 200px);
  background-color: green;
  overflow-y: scroll;
}

.contact {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.contact.active {
  border-bottom-color: transparent;
  background: #E9EBEB;
}

.contact-logo-info {
  height: 100%;
  display: flex;
}

.contact-logo img {
  height: 80%;
  border-radius: 50%;
  margin: 0 15px;
}

.contact-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.contact-info small {
  color: gray;
}

.contact-time {
  font-size: x-small;
  height: 100%;
  padding-top: 5px;
  padding-right: 7px;
}

/* .contact-time span {
  margin: 10px;
  color: red;
} */

.contact-selected {
  background-color: #e9ebeb;
}
/* RIGHT */

.right {
  background-color: yellow;
  width: 60%;
  height: 100%;
  float: right;
}

/* HEADER RIGHT */

.header-right {
  background-color: #eaeaea;
  height: 70px;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-right-icons i {
  margin-right: 15px;
  margin-left: 5px;
  color: #b1b1b1;
  transform: scale(1.3);
}

.text-logo {
  display: flex;
  flex-direction: column;
}

.header-right img {
  height: 80%;
  border-radius: 50%;
  margin-right: 5px;
}

/* MESSAGES RIGHT */

.messages-right {
  background-image: url('/assets/img/mine.jpg');
  height: calc(100% - 140px);
  padding: 5% 10%;
  overflow-y: scroll;
  width: 100%;
}

.messages-right .message {
  background-color: white;
  margin: 5px 0;
  min-width: 40%;
  max-width: 60%;
  border-radius: 10px;
  padding: 20px;
  clear: both;
}

.messages-right .message::after {
  clear: both;
  display: table;
  content: '';
}

.messages-right .message.sent {
  float: right;
  background-color: #d5f9ba;
}

.messages-right .message.received {
  float: left;
  background-color: white;
}

/* FOOTER RIGHT */

.footer-right {
  background-color: #F3EEEA;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-right .footer-right-center {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right .footer-right-center input {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 15px;
  border: 0;
  border-radius: 15px;
  font-size: 14px;
  font-weight: lighter;
}

.footer-right-right, 
.footer-right-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
}

.footer-icon {
  /* margin-right: 15px; */
  /* margin-left: 5px; */
  color: #b1b1b1;
  transform: scale(1.3);
}



